.dialogs {
  display: flex;
  padding-top: 15px;
  padding-left: 25px;
}

.dialogsItems {
  width: 300px;
  line-height: 30px;
}

.messages {
  border-left: 2px solid white;
  padding-left: 80px;
}

.message {
  font-weight: 600;
  border: 1px solid gold;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 35px;
  margin-bottom: 10px;
  color: honeydew;
}

.dialog a {
  color: yellowgreen;
  text-decoration: none;
  line-height: 40px;
  font-size: 18 px;
}

.dialogs a.active {
  color: gold;
}
